name: Build Cheat Engine
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v5
      with:
        repository: cheat-engine/cheat-engine
        ref: '7.5'

    - uses: gcarreno/setup-lazarus@v3
      with:
        lazarus-version: "2.2.2"
    
    - run: lazbuild "Cheat Engine/cheatengine.lpi" --build-mode="Release 64-Bit"
    
    - run: lazbuild "Cheat Engine/cheatengine.lpi" --build-mode="Release 64-Bit O4 AVX2"
    
    - run: 7z a -tzip Cheat-Engine.zip "./Cheat Engine/bin/*" -r

    - uses: actions/upload-artifact@v4
      with:
        path: Cheat-Engine.zip
        name: Cheat-Engine.zip
