name: Build Cheat Engine
on:
  workflow_dispatch:

env: 
  TAG: 7.5

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v5
      with:
        repository: cheat-engine/cheat-engine
        ref: ${{ ENV.TAG }}

    - uses: gcarreno/setup-lazarus@v3
      with:
        lazarus-version: "2.2.2"
    
    - run: lazbuild "Cheat Engine/cheatengine.lpi" --build-mode="Release 64-Bit"
    
    - run: lazbuild "Cheat Engine/cheatengine.lpi" --build-mode="Release 64-Bit O4 AVX2"
    
    - run: 7z a -tzip Cheat-Engine.zip "./Cheat Engine/bin/*" -r

    - run: (Get-FileHash Cheat-Engine.zip -Algorithm SHA256).Hash | Out-File -Encoding utf8 Cheat-Engine.zip.sha256

    - name: Upload Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: Cheat-Engine_${{ ENV.TAG }}
        files: Cheat-Engine.zip
        body: Cheat-Engine.zip.sha256
