name: Build Cheat Engine
on:
  workflow_dispatch:

env:
  TAG: "7.5"

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - target: "Release 64-bit"
            zip_name: Cheat-Engine_x64.zip

          - target: "Release 64-bit O4 AVX2"
            zip_name: Cheat-Engine_x64_O4_AVX2.zip

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        repository: cheat-engine/cheat-engine
        ref: "${{ env.TAG }}"

    - name: 配置编译环境
      uses: gcarreno/setup-lazarus@v3
      with:
        lazarus-version: "2.2.2"
        with-cache: true

    - name: 配置汉化
      run: |
        Set-Location "Cheat Engine/bin/languages”
        # 删除其他翻译
        Get-ChildItem -Recurse -Directory | Remove-Item -Recurse -Force
        # 获取3DMXM/Cheat-Engine-CN
        git clone --depth=1 https://github.com/3DMXM/Cheat-Engine-CN zh_CN
        Remove-Item -Path "zh_CN/.github" -Recurse -Force
        
    - name: 开始编译 "${{ matrix.target }}"
      run: lazbuild -B "Cheat Engine/cheatengine.lpi" --os=win64 --cpu=x86_64 --no-write-project --build-mode="${{ matrix.target }}"
         
    - name: 打包Release
      run: 7z a -tzip "${{ matrix.zip_name }}" "./Cheat Engine/bin/*" -r

    - name: 上传到Artifact
      uses: actions/upload-artifact@v4
      with:
        name: "${{ matrix.zip_name }}"
        path: "${{ matrix.zip_name }}"
        retention-days: 1

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - name: 下载 Artifact
      uses: actions/download-artifact@v4
      with:
        path: artifact
        merge-multiple: true

    - name: 上传Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: "Cheat-Engine_${{ env.TAG }}"
        files: |
          artifact/Cheat-Engine_x64.zip
          artifact/Cheat-Engine_x64_O4_AVX2.zip
