name: Build Cheat Engine
on:
  workflow_dispatch:

env: 
  TAG: 7.5

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        arch: [ Release 64-Bit, Release 64-BitO4 AVX2 ]
    steps:
    - uses: actions/checkout@v5
      with:
        repository: cheat-engine/cheat-engine
        ref: ${{ ENV.TAG }}

    - uses: gcarreno/setup-lazarus@v3
      with:
        lazarus-version: "2.2.2"
    
    - run: lazbuild "Cheat Engine/cheatengine.lpi" --build-mode="${{ matrix.arch }}"
    
    - run: 7z a -tzip Cheat-Engine_${{ matrix.arch }}.zip "./Cheat Engine/bin/*" -r

    - name: Upload Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: Cheat-Engine_${{ ENV.TAG }}
        files: Cheat-Engine_${{ matrix.arch }}.zip
