name: Build Cheat Engine
on:
  workflow_dispatch:

env: 
  TAG: 7.5

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - target: x64
            build_flag: "Release 64-bit O4"
            zip_name: Cheat-Engine_x64.zip

          - target: x64_O4_AVX2
            build_flag: "Release 64-bit O4 AVX2"
            zip_name: Cheat-Engine_x64_O4_AVX2.zip

    steps:
    - uses: actions/checkout@v5
      with:
        repository: cheat-engine/cheat-engine
        ref: "${{ ENV.TAG }}"

    - uses: gcarreno/setup-lazarus@v3
      with:
        lazarus-version: "2.2.2"
    
    - run: lazbuild "Cheat Engine/cheatengine.lpi" --build-mode="${{ matrix.build_flag }}"
         
    - run: 7z a -tzip "${{ matrix.zip_name }}" "./Cheat Engine/bin/*" -r

    - name: Upload Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: Cheat-Engine_${{ ENV.TAG }}
        files: "${{ matrix.zip_name }}"
