name: Build Cheat Engine
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - target: "Release 64-bit"
            zip_name: Cheat-Engine_x64.zip

          - target: "Release 64-bit O4 AVX2"
            zip_name: Cheat-Engine_x64_O4_AVX2.zip

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        repository: cheat-engine/cheat-engine

    - name: 配置编译环境
      uses: gcarreno/setup-lazarus@v3
      with:
        lazarus-version: "2.2.2"

    - name: 配置汉化
      shell: powershell
      run: |
        Set-Location "Cheat Engine/bin/languages”
        ls
        icacls "zh_CN" /grant Everyone:(F)
        # 删除其他翻译文件
        rmdir /s /q "zh_CN"
        # 获取3DMXM/Cheat-Engine-CN
        git clone --depth=1 https://github.com/3DMXM/Cheat-Engine-CN zh_CN
        
    - name: 开始编译 "${{ matrix.target }}"
      run: lazbuild -B "Cheat Engine/cheatengine.lpi" --os=win64 --cpu=x86_64 --build-mode="${{ matrix.target }}"
         
    - name: 打包Release
      run: 7z a -tzip "${{ matrix.zip_name }}" "./Cheat Engine/bin/*" -r

    - name: 上传Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: "Cheat Engine"
        files: "${{ matrix.zip_name }}"
