name: Build OpenWrt

on: 
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH连接'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: 配置环境
      run: |
        sudo apt update
        sudo apt -y install build-essential asciidoc libssl-dev \
             binutils bzip2 gawk gettext gperf libncurses5-dev \
             libz-dev patch python3 python2.7 unzip zlib1g-dev \
             lib32gcc1 libc6-dev-i386 subversion flex uglifyjs \
             git-core gcc-multilib p7zip rsync msmtp git swig \
             libglib2.0-dev xmlto qemu-utils libelf-dev libtool \
             automake autopoint device-tree-compiler curl wget \
             g++-multilib  p7zip-full upx texinfo autoconf
        sudo timedatectl set-timezone "Asia/Shanghai"

    - name: 克隆源码
      run: |
        git clone --depth=1 https://github.com/coolsnowwolf/lede 

    - name: 自定义配置
      run: |
        cd lede
        

    - name: 升级安装feeds
      run: |
        cd lede
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: SSH连接
      uses: mxschmitt/action-tmate@v3
      if: (github.event.inputs.ssh == 'true')

    - name: 下载软件包
      run: |
        cd lede
        make defconfig
        make -j$(nproc) download

    - name: 编译
      id: build
      run: |
        cd lede
        make -j$(nproc) || make -j1 || make -j1 V=s
        echo "::set-output name=status::success"
