name: Build OpenWrt

on: 
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH连接'
        required: false
        
env:
  CONFIG_FILE: 'x86_64.config'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: 配置环境
      run: |
        sudo apt update
        sudo apt -y install build-essential asciidoc libssl-dev \
             binutils bzip2 gawk gettext gperf libncurses5-dev \
             libz-dev patch python3 python2.7 unzip zlib1g-dev \
             lib32gcc1 libc6-dev-i386 subversion flex uglifyjs \
             git-core gcc-multilib p7zip rsync tree swig msmtp \
             libglib2.0-dev xmlto qemu-utils libelf-dev antlr3 \
             automake autopoint device-tree-compiler curl wget \
             g++-multilib  p7zip-full upx texinfo autoconf git \
             libtool
        sudo timedatectl set-timezone "Asia/Shanghai"

    - name: 克隆源码
      env: 
        REPO_URL: https://github.com/coolsnowwolf/lede
        REPO_BRANCH: master
      run: |
        git clone --depth=1 $REPO_URL -b $REPO_BRANCH

    - name: 自定义配置
      run: |
        cd lede
        #添加helloworld
        echo "src-git helloworld https://github.com/fw876/helloworld.git" >> ./feeds.conf.default
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        #复制配置文件
        [ -e $CONFIG_FILE ] && cp ../$CONFIG_FILE .config
        #修改lan ip
        sed -i 's/192.168.1.1/10.0.0.1/g' package/base-files/files/bin/config_generate
        #修改时区
        sed -i "s/'UTC'/'UTC+8'\n   set system.@system[-1].zonename='$utc_name'/g" package/base-files/files/bin/config_generate
        make defconfig
        make -j$(nproc) download

    - name: SSH连接
      uses: mxschmitt/action-tmate@master
      timeout-minutes: 15
      if: github.event.inputs.ssh != ''

    - name: 编译
      id: build
      run: |
        cd lede
        make -j$(nproc) || make -j1 V=s
        
    - name: 准备文件
      run: |
        cd lede/bin/targets/*/*
        rm -rf packages
        echo "DEVICE_NAME=$(basename openwrt*manifest .manifest)" >> $GITHUB_ENV
        echo "FILE_DATE=$(date +"%Y%m%d")" >> $GITHUB_ENV
        tar -czvf ~/${{ env.DEVICE_NAME }}.tar.gz .
        
    - name: 上传固件到release
      uses: softprops/action-gh-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.DEVICE_NAME }}_${{ env.FILE_DATE }}
        files: ~/${{ env.DEVICE_NAME }}.tar.gz

    - name: 删除旧Release
      uses: dev-drprasad/delete-older-releases@master
      with:
        keep_latest: 5
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: 删除旧workflow
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 1
