name: Build OpenWrt

on: 
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH连接'
        required: false

env:
  FIRMWARE: k2p

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: 配置环境
      run: |
        sudo apt update
        sudo apt -y install build-essential asciidoc libssl-dev \
             binutils bzip2 gawk gettext gperf libncurses5-dev \
             libz-dev patch python3 python2.7 unzip zlib1g-dev \
             lib32gcc1 libc6-dev-i386 subversion flex uglifyjs \
             git-core gcc-multilib p7zip rsync tree swig msmtp \
             libglib2.0-dev xmlto qemu-utils libelf-dev antlr3 \
             automake autopoint device-tree-compiler curl wget \
             g++-multilib  p7zip-full upx texinfo autoconf git \
             libtool
        sudo timedatectl set-timezone "Asia/Shanghai"

    - name: 克隆源码
      run: |
        git clone https://github.com/coolsnowwolf/lede

    - name: 自定义feeds
      run: |
        cd lede
        sed -i '$a\src-git passwall https://github.com/xiaorouji/openwrt-passwall' feeds.conf.default
        ./scripts/feeds clean
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: 自定义配置
      run: |
        cd lede
        cp ../Openwrt/${{ env.FIRMWARE }}.config .config
        cp ../Openwrt/1000Mhz.patch target/linux/ramips/patches-5.4/102-mt7621-fix-cpu-clk-add-clkdev.patch
        sed -i 's/192.168.1.1/10.0.0.1/g' package/base-files/files/bin/config_generate
        make -j3 download

    - name: SSH连接
      uses: mxschmitt/action-tmate@v3
      if: github.event.inputs.ssh == 'true'

    - name: 编译
      id: build
      run: |
        cd lede
        make -j3 || make -j1 V=s
        echo "FILE_DATE=$(date +"%Y%m%d")" >> $GITHUB_ENV
        echo "FILE_SHA256=$(md5sum -b bin/targets/*/*/*sysupgrade.bin | sed -rn 's/.*(\w{32}).*/\1/p')" >> $GITHUB_ENV
        
    - name: 准备固件
      run: |
        mkdir firmware
        cp lede/bin/targets/*/*/config.buildinfo firmware
        cp lede/bin/targets/*/*/*sysupgrade.bin firmware
        
    - name: 上传固件至release
      uses: 97xiami/action-gh-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: Openwrt_${{ env.FIRMWARE }}_${{ env.FILE_DATE }}
        files: firmware/*
        body: "sha256: ${{ env.FILE_SHA256 }}"

    - name: 删除旧Release
      uses: 97xiami/delete-older-releases@master
      with:
        keep_latest: 5
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: 删除历史workflow
      uses: 97xiami/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 0
