name: Build OpenWrt

on: 
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH连接'
        required: false
        
env:
  CONFIG_FILE: 'openwrt/x86/x86_64.config'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: 配置环境
      run: |
        sudo apt update
        sudo apt install -y ack antlr3 aria2 asciidoc autoconf automake autopoint binutils bison build-essential \
          bzip2 ccache cmake cpio curl device-tree-compiler fastjar flex gawk gettext gcc-multilib g++-multilib \
          gperf haveged help2man intltool libc6-dev-i386 libelf-dev libglib2.0-dev libgmp3-dev libltdl-dev lrzsz \
          libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libreadline-dev libssl-dev libtool git qemu-utils \
          mkisofs msmtp nano ninja-build p7zip p7zip-full patch pkgconf python2.7 python3 python3-pip libpython3-dev \
          rsync scons squashfs-tools subversion swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev
        sudo timedatectl set-timezone "Asia/Shanghai"

    - name: 克隆源码
      run: |
        git clone --depth=1 https://github.com/coolsnowwolf/lede

    - name: 添加feeds
      run: |
        cd lede
        echo "src-git helloworld https://github.com/fw876/helloworld.git" >> feeds.conf.default
        
    - name: 更新feeds
      run: |
        cd lede
        ./scripts/feeds update -a
        ./scripts/feeds install -a
      
    - name: 自定义配置
      id: config
      run: |
        #复制配置文件
        [ -e $CONFIG_FILE ] && cp $CONFIG_FILE lede/.config
        cd lede
        make defconfig
        #判断config是否变化
        diff .config ../$CONFIG_FILE > /dev/null
        if [ $0 != 0 ]; then
        echo "::set-output name=status::success"
        #修改lan ip
        #sed -i 's/192.168.1.1/10.0.0.1/g' package/base-files/files/bin/config_generate

    - name: SSH连接
      uses: mxschmitt/action-tmate@master
      if: github.event.inputs.ssh != ''

    - name: 下载额外包
      run: |
        cd lede
        make -j$(nproc) download
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;
        
    - name: 编译
      run: |
        cd lede
        make -j$(nproc) || make V=s
        
    - name: 整理文件
      run: |
        cp lede/.config /tmp/config
        cd lede/bin/targets/*/*
        tar -czvf /tmp/Packages.tar.gz packages/*
        rm -rf packages
        echo "DEVICE_NAME=$(basename openwrt*manifest .manifest)" >> $GITHUB_ENV
        echo "FILE_DATE=$(date +"%Y%m%d%H%M%S")" >> $GITHUB_ENV
        tar -czvf /tmp/OpenWrt.tar.gz .
        echo "FILE_SHA256=$(sha256sum -b /tmp/OpenWrt.tar.gz | sed -rn 's/.*(\w{64}).*/\1/p')" >> $GITHUB_ENV
        
    - name: 上传固件到release
      uses: softprops/action-gh-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.DEVICE_NAME }}_${{ env.FILE_DATE }}
        files: |
          /tmp/config
          /tmp/OpenWrt.tar.gz
          /tmp/Packages.tar.gz
        body: "OpenWrt.tar.gz: ${{ env.FILE_SHA256 }}"

    - name: 上传config到git
      if: steps.config.outputs.status == 'success' && !cancelled()
      id: upload
      run: |
        cp lede/.config $CONFIG_FILE
        rm -rf lede
        git config --global user.name '${{ secrets.GIT_NAME }}'
        git config --global user.email '${{ secrets.GIT_EMAIL }}'
        git add .
        git commit -m "upload $CONFIG_FILE"

    - name: Push
      if: steps.upload.outputs.status == 'success' && !cancelled()
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main

    - name: 删除旧workflow
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 1
