name: Build OpenWrt

on: 
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH连接'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: 配置环境
      run: |
        sudo apt update
        sudo apt -y install build-essential asciidoc libssl-dev \
             binutils bzip2 gawk gettext gperf libncurses5-dev \
             libz-dev patch python3 python2.7 unzip zlib1g-dev \
             lib32gcc1 libc6-dev-i386 subversion flex uglifyjs \
             git-core gcc-multilib p7zip rsync tree swig msmtp \
             libglib2.0-dev xmlto qemu-utils libelf-dev antlr3 \
             automake autopoint device-tree-compiler curl wget \
             g++-multilib  p7zip-full upx texinfo autoconf git \
             libtool
        sudo timedatectl set-timezone "Asia/Shanghai"

    - name: 克隆源码
      env: 
        REPO_URL: https://github.com/coolsnowwolf/lede
        REPO_BRANCH: master
      run: |
        git clone --depth=1 $REPO_URL -b $REPO_BRANCH

    - name: 自定义配置
      env:
        CONFIG_FILE: 'x86_64.config'
      run: |
        cd lede
        echo "src-git helloworld https://github.com/fw876/helloworld.git" >> ./feeds.conf.default
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        [ -e $CONFIG_FILE ] && cp ../$CONFIG_FILE .config
        sed -i 's/192.168.1.1/10.0.0.1/g' package/base-files/files/bin/config_generate
        make defconfig
        make -j$(nproc) download

    - name: SSH连接
      uses: mxschmitt/action-tmate@master
      timeout-minutes: 15
      if: github.event.inputs.ssh != ''

    - name: 编译
      id: build
      run: |
        cd lede
        make -j$(nproc) V=s || make -j1 V=s
        echo "FILE_DATE=$(date +"%Y%m%d")" >> $GITHUB_ENV
        grep '^CONFIG_TARGET.*DEVICE.*=y' .config | sed -r 's/.*DEVICE_(.*)=y/\1/' > DEVICE_NAME
        [ -s DEVICE_NAME ] && echo "DEVICE_NAME=_$(cat DEVICE_NAME)" >> $GITHUB_ENV
        
        
    - name: 准备文件
      run: |
        cd openwrt/bin/targets/*/*
        rm -rf packages
        tar -czvf ${{ env.FIRMWARE }}.tar.gz .
        echo "FILE_SHA256=$(sha256sum ${{ env.FIRMWARE }}.tar.gz | sed -rn 's/.*(\w{64}).*/\1/p')" >> $GITHUB_ENV
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
        
    - name: 上传固件至release
      uses: softprops/action-gh-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: Openwrt_${{ env.DEVICE_NAME }}_${{ env.FILE_DATE }}
        files: openwrt/bin/targets/*/*/${{ env.FIRMWARE }}
        body: "SHA256: ${{ env.FILE_SHA256 }}"

    - name: 删除旧Release
      uses: dev-drprasad/delete-older-releases@master
      with:
        keep_latest: 5
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: 删除历史workflow
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 1
