name: Build Openwrt

on:
  workflow_dispatch:
  schedule:
    - cron: 0 20 * * 0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: 安装依赖
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo apt update
        sudo apt -y install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch python3 python2.7 unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler g++-multilib antlr3 gperf wget curl swig rsync
        sudo timedatectl set-timezone "Asia/Shanghai"

    - name: 克隆源码
      run: |
        git clone https://github.com/coolsnowwolf/lede

    - name: 自定义
      run: |
        cp openwrt/k2p.config lede/.config
        cd lede
        sed -i 's/#src/src/g' feeds.conf.default
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        make -j3 download

    - name: 开始编译
      run: |
        cd lede
        make -j3 V=s
        rm -rf bin/targets/*/*/packages
        echo "STATU=success" >> $GITHUB_ENV
        echo "FILE_NAME=$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

    - name: 上传固件至release
      if: ${{ success() }}
      uses: 97xiami/action-gh-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.FILE_NAME }}
        files: lede/bin/targets/*/*/*.bin

    - name: 删除旧版固件
      if: ${{ success() }}
      uses: 97xiami/delete-older-releases@master
      with:
        keep_latest: 6
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: 删除历史workflow
      uses: 97xiami/delete-workflow-runs@master
      with:
        retain_days: 1
        keep_minimum_runs: 0
