name: Build OpenWrt

on: 
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH连接'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: 配置环境
      run: |
        sudo apt update
        sudo apt -y install build-essential asciidoc libssl-dev \
             binutils bzip2 gawk gettext gperf libncurses5-dev \
             libz-dev patch python3 python2.7 unzip zlib1g-dev \
             lib32gcc1 libc6-dev-i386 subversion flex uglifyjs \
             git-core gcc-multilib p7zip rsync msmtp git swig \
             libglib2.0-dev xmlto qemu-utils libelf-dev libtool \
             automake autopoint device-tree-compiler curl wget \
             g++-multilib  p7zip-full upx texinfo autoconf tree
        sudo timedatectl set-timezone "Asia/Shanghai"

    - name: 克隆源码
      run: |
        git clone --depth=1 https://github.com/coolsnowwolf/lede

    - name: 自定义配置
      run: |
        cd lede
        sed -i '$a\src-git passwall https://github.com/xiaorouji/openwrt-passwall' feeds.conf.default
        cp ../Openwrt/k2p.config .config

    - name: 更新安装feeds
      run: |
        cd lede
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        make -j$(nproc) download

    - name: SSH连接
      uses: mxschmitt/action-tmate@v3
      if: github.event.inputs.ssh == 'true'

    - name: 编译
      id: build
      run: |
        cd lede
        make -j$(nproc) || make -j1 || make -j1 V=s
        echo "DEVICE_NAME=$(sed -n '/^CONFIG_TARGET.*DEVICE.*=y/p' .config | sed -r 's/.*_DEVICE_(.*)=y/\1/')" >> $GITHUB_ENV
        echo "FILE_DATE=$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

    - name: test
        tree lede/bin
        rm -rf bin/targets/*/*/packages

    - name: 上传固件至release
      uses: 97xiami/action-gh-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: Openwrt_${{ env.DEVICE_NAME }}_${{ env.FILE_DATE }}
        path: lede/bin/targets/*/*

    - name: 删除旧Release
      uses: 97xiami/delete-older-releases@master
      with:
        keep_latest: 5
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: 删除历史workflow
      uses: 97xiami/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 0
