name: Build Padavan

on:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH连接'
        required: false

env:
  FIRMWARE: K2P_nano

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: 安装依赖
      run: |
        sudo apt update
        sudo apt -y install unzip libtool-bin curl cmake gperf gawk wget \
             flex bison nano xxd fakeroot kmod cpio git python3-docutils  \
             gettext automake autopoint texinfo build-essential help2man \
             pkg-config zlib1g-dev libgmp3-dev libmpc-dev libmpfr-dev    \
             libncurses5-dev libltdl-dev libc-dev-bin
        sudo timedatectl set-timezone "Asia/Shanghai"

    - name: 克隆源码
      run: |
        git clone --depth=1 https://github.com/hanwckf/rt-n56u.git /opt/rt-n56u

    - name: 配置toolchain
      run: |
        cd /opt/rt-n56u/toolchain-mipsel
        sh dl_toolchain.sh
        
    - name: 自定义配置
      run: |
        cd /opt/rt-n56u/trunk/configs/templates
        sed -i '277d;283d' /opt/rt-n56u/trunk/linux-3.4.x/arch/mips/rt2880/time.c
        sed -i 's/SMBD36=y/SMBD36=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/EAP_PEAP=y/EAP_PEAP=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/SFTP=y/SFTP=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/OPENSSH=y/OPENSSH=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/OPENSSL_EC=y/OPENSSL_EC=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/XUPNPD=y/XUPNPD=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/FFMPEG_NEW=y/FFMPEG_NEW=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/CURL=y/CURL=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/NAPT66=y/NAPT66=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/TTYD=y/TTYD=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/HTOP=y/HTOP=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/NANO=y/NANO=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/IPERF3=y/IPERF3=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/MTR=y/MTR=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/SOCAT=y/SOCAT=n/g' ${{ env.FIRMWARE }}.config
        sed -i 's/SRELAY=y/SRELAY=n/g' ${{ env.FIRMWARE }}.config

        cd /opt/rt-n56u/trunk/user/shared
        sed -i 's/192.168.2.100/10.0.0.10/g' defaults.h
        sed -i 's/192.168.2.1/10.0.0.1/g' defaults.h
        sed -i 's/192.168.2.244/10.0.0.30/g' defaults.h
        sed -i 's/"US"/"CN"/g' defaults.h
        sed -i 's/ntp1.aliyun.com/ntp.ntsc.ac.cn/g' defaults.h
        sed -i 's/2001:470:0:50::2/cn.ntp.org.cn/g' defaults.h

        cd /opt/rt-n56u/trunk/user/www
        sed -i 's/192.168.2.1/10.0.0.1/g' dict/CN.dict
        sed -i 's/192.168.2.1/10.0.0.1/g' n56u_ribbon_fixed/Restarting.asp

    - name: SSH连接
      uses: mxschmitt/action-tmate@v3
      if: github.event.inputs.ssh == 'true'

    - name: 编译
      run: |
        cd /opt/rt-n56u/trunk
        fakeroot ./build_firmware_modify ${{ env.FIRMWARE }}
        echo "FILE_DATE=$(date +"%Y%m%d")" >> $GITHUB_ENV
        echo "FILE_SHA256=$(sha256sum -b images/*.trx | sed -rn 's/.*(\w{64}).*/\1/p')" >> $GITHUB_ENV

    - name: 上传固件至release
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: Padavan_${{ env.FIRMWARE }}_${{ env.FILE_DATE }}
        files: /opt/rt-n56u/trunk/images/*.trx
        body: "sha256: ${{ env.FILE_SHA256 }}"

    - name: 删除旧版固件
      uses: dev-drprasad/delete-older-releases@v0.2.0
      with:
        keep_latest: 5
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
