name: Build Padavan

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: 安装go
      uses: actions/setup-go@v2
      with:
        go-version: '1.17.2'

    - name: 安装依赖
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo apt update
        sudo apt -y install unzip libtool-bin curl cmake gperf gawk wget \
             flex bison nano xxd fakeroot kmod cpio git python3-docutils  \
             gettext automake autopoint texinfo build-essential help2man \
             pkg-config zlib1g-dev libgmp3-dev libmpc-dev libmpfr-dev    \
             libncurses5-dev libltdl-dev libc-dev-bin
        sudo timedatectl set-timezone "Asia/Shanghai"

    - name: 克隆源码
      run: |
        git clone --depth=1 https://github.com/hanwckf/rt-n56u.git /opt/rt-n56u

    - name: 配置toolchain
      run: |
        cd /opt/rt-n56u/toolchain-mipsel
        sh dl_toolchain.sh
        
    - name: 自定义配置
      run: |
        cd /opt/rt-n56u/trunk/configs/templates
        sed -i '277d;283d' /opt/rt-n56u/trunk/linux-3.4.x/arch/mips/rt2880/time.c
        sed -i 's/SMBD36=y/SMBD36=n/g' K2P_nano.config
        sed -i 's/EAP_PEAP=y/EAP_PEAP=n/g' K2P_nano.config
        sed -i 's/SFTP=y/SFTP=n/g' K2P_nano.config
        sed -i 's/OPENSSH=y/OPENSSH=n/g' K2P_nano.config
        sed -i 's/OPENSSL_EC=y/OPENSSL_EC=n/g' K2P_nano.config
        sed -i 's/XUPNPD=y/XUPNPD=n/g' K2P_nano.config
        sed -i 's/FFMPEG_NEW=y/FFMPEG_NEW=n/g' K2P_nano.config
        sed -i 's/CURL=y/CURL=n/g' K2P_nano.config
        sed -i 's/NAPT66=y/NAPT66=n/g' K2P_nano.config
        sed -i 's/TTYD=y/TTYD=n/g' K2P_nano.config
        sed -i 's/HTOP=y/HTOP=n/g' K2P_nano.config
        sed -i 's/NANO=y/NANO=n/g' K2P_nano.config
        sed -i 's/IPERF3=y/IPERF3=n/g' K2P_nano.config
        sed -i 's/MTR=y/MTR=n/g' K2P_nano.config
        sed -i 's/SOCAT=y/SOCAT=n/g' K2P_nano.config
        sed -i 's/SRELAY=y/SRELAY=n/g' K2P_nano.config

        cd /opt/rt-n56u/trunk/user/shared
        sed -i 's/192.168.2.100/10.0.0.10/g' defaults.h
        sed -i 's/192.168.2.1/10.0.0.1/g' defaults.h
        sed -i 's/192.168.2.244/10.0.0.30/g' defaults.h
        sed -i 's/"US"/"CN"/g' defaults.h
        sed -i 's/ntp1.aliyun.com/ntp.ntsc.ac.cn/g' defaults.h
        sed -i 's/2001:470:0:50::2/cn.ntp.org.cn/g' defaults.h

        cd /opt/rt-n56u/trunk/user/www
        sed -i 's/192.168.2.1/10.0.0.1/g' dict/CN.dict
        sed -i 's/192.168.2.1/10.0.0.1/g' n56u_ribbon_fixed/Restarting.asp

    - name: 添加xray
      run: |
        cp -r xray /opt/rt-n56u/trunk/user
        sed -i '$a\CONFIG_FIRMWARE_INCLUDE_XRAY=y' /opt/rt-n56u/trunk/configs/templates/K2P_nano.config
        #sed -i '$a\export SSL_CERT_FILE=/usr/lib/cacert.pem' /opt/rt-n56u/trunk/user/scripts/profile
        #sed -i '220a\dir_y += xray' /opt/rt-n56u/trunk/user/Makefile

    - name: 开始编译
      run: |
        cd /opt/rt-n56u/trunk
        fakeroot ./build_firmware_modify K2P_nano
        echo "STATU=success" >> $GITHUB_ENV
        echo "FILE_NAME=$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

    - name: 上传固件至release
      if: ${{ success() }}
      uses: 97xiami/action-gh-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.FILE_NAME }}
        files: /opt/rt-n56u/trunk/images/*.trx

    - name: 删除旧版固件
      if: ${{ success() }}
      uses: 97xiami/delete-older-releases@master
      with:
        keep_latest: 3
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: 删除历史workflow
      uses: 97xiami/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 0
