name: Build Padavan

on:
  workflow_dispatch:
  schedule:
    - cron: 0 20 * * 0

env:
  USER_CONFIG: K2P_nano-5.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: 安装依赖
      run: |
        sudo apt update
        sudo apt -y install unzip libtool-bin curl cmake gperf gawk \
             flex bison nano xxd fakeroot kmod cpio git python-docutils \
             gettext automake autopoint texinfo build-essential help2man \
             pkg-config zlib1g-dev libgmp3-dev libmpc-dev libmpfr-dev \
             libncurses5-dev libltdl-dev wget libc-dev-bin
        sudo timedatectl set-timezone "Asia/Shanghai"

    - name: 克隆源码
      run: |
        git clone --depth=1 https://github.com/hanwckf/rt-n56u.git /opt/rt-n56u

    - name: 配置toolchain
      run: |
        cd /opt/rt-n56u/toolchain-mipsel
        sh dl_toolchain.sh
        
    - name: 自定义配置
      run: |
        cd padavan
        cp $USER_CONFIG.config /opt/rt-n56u/trunk/configs/templates/
        cp defaults.h /opt/rt-n56u/trunk/user/shared/
        cp versions.inc /opt/rt-n56u/trunk/
        cp jquery.js /opt/rt-n56u/trunk/user/www/n56u_ribbon_fixed/
        sed -i 's/192.168.2.1/10.0.0.1/' /opt/rt-n56u/trunk/user/www/dict/CN.dict
        sed -i 's/192.168.2.1/10.0.0.1/' /opt/rt-n56u/trunk/user/www/n56u_ribbon_fixed/Restarting.asp

    - name: 开始编译
      run: |
        cd /opt/rt-n56u/trunk
        ##./clear_tree
        fakeroot ./build_firmware_modify $USER_CONFIG
        echo "STATU=success" >> $GITHUB_ENV
        echo "FILE_NAME=$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV

    - name: 上传固件至release
      if: ${{ success() }}
      uses: softprops/action-gh-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.FILE_NAME }}
        files: /opt/rt-n56u/trunk/images/*.trx

    - name: 删除旧版固件
      if: ${{ success() }}
      uses: dev-drprasad/delete-older-releases@master
      with:
        keep_latest: 3
        delete_tags: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: 微信推送
      run: |
        if [ "${{ env.STATU }}" == "success" ]; then
        curl https://sc.ftqq.com/${{ secrets.SCKEY }}.send?text=Padavan编译完成
        else 
        curl https://sc.ftqq.com/${{ secrets.SCKEY }}.send?text=Padavan编译失败
        fi
